name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch: { }

permissions:
  contents: read

env:
  # Common versions
  GO_VERSION: '1.21'

jobs:
  release:
    permissions:
      contents: write
      actions: read
      checks: write
      issues: read
      packages: write
      pull-requests: read
      repository-projects: read
      statuses: read
    runs-on: ubuntu-22.04
    name: goreleaser
    steps:
      - name: Checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608
        with:
          fetch-depth: 0
      - run: git fetch --force --tags

      - name: Docker Login
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          username: ${{ secrets.REG_USER }}
          password: ${{ secrets.REG_PASSWD }}

      - name: Build Images
        id: build
        run: |
          make docker-build IMG_REGISTRY=${{ secrets.CONTAINER_REGISTRY }}

      - name: Push Images
        run: |
          make docker-push IMG_REGISTRY=${{ secrets.CONTAINER_REGISTRY }}

      - name: Set up Go
        uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true
      - uses: goreleaser/goreleaser-action@286f3b13b1b49da4ac219696163fb8c1c93e1200 # v6.0.0
        with:
          distribution: goreleaser
          version: 1.24.0
          args: release --clean --timeout 60m
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GO_VERSION: ${{ env.GO_VERSION }}
